:root {
    --box-shadow-color: rgba(158, 89, 89, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 50vh 50vh;
  grid-template-rows: 50vh 50vh;
  justify-content: center;
  background-color: burlywood;
}

.recipes-panel {
  box-shadow: 2px 6px 11px 0px var(--box-shadow-color);
  background-color: coral;
  border: 5px solid antiquewhite;
  font-family: sans-serif;
  height: 45vh;
  /* padding-top: 45%; */
  text-align: center;
  width: 45vh;
  -webkit-box-shadow: 2px 6px 11px 0px var(--box-shadow-color);
}

.wrapper > a:link {
  text-decoration: none;
}
